{{#partial "content"}}

    <div class="container">
        <h2 id="p">WILDLIFE_TRACKER!</h2>
        <h2>We don't own the planet Earth, we belong to it and we must share it with our wildlife.</h2>

        <hr style="width:50%;opacity:0.4" >
        <h2 id="p"> It doesn't look like there are any Sighting!</h2>
        <h1 id="p">please Record:</h1>
    </div>
{{/partial}}

{{> layout.hbs}}