{{#partial "content"}}

    <div class="container">
        <h1 id="p">SQUAD LIST!</h1>
        <h2 id="p">The following is a partial list of SuperHero Teams.</h2>

        <hr style="width:50%;opacity:0.4" >
        <h2 id="p"> It doesn't look like there are any squad!</h2>
        <h1 id="p">please Add:</h1>
    </div>
{{/partial}}

{{> layout.hbs}}