{{#partial "content"}}
    <div class ="sighting-card">
        {{#if editSighting}}
            <h1>Edit this Sighting!</h1>
            <form action="/sightings/{{sighting.id}}" method="post">
                <label for="newRangerName">Edit this sighting</label>
                <input id="newRangerName" name="newRangerName" type="text" value="{{sighting.rangerName}}">
                <button type="submit" class="btn btn-default">Submit!</button>
            </form>
        {{else}}
            <h2>The greatness of a nation can be judged by the way it's animals are treated.</h2>
            <h1>Record a new sighting!</h1>
        <form action="/sightings" method="post">
            <div class="form-group">
                <fieldset>
                    <input id="rangerName" name="rangerName" placeholder="Ranger's  Name:" class="form-control" type="text"  required>
                </fieldset>
            </div>
            <div class="form-group">
                <fieldset>
                    <select class="form-control" name="species" id="species"   required>
                        <option value="--select  Animal's species--">--select Animal species--</option>
                        <option value="Endangered">Endangered</option>
                        <option value="UnEndangered">UnEndangered</option>
                    </select>
                </fieldset>
            </div>
            <div class="form-group">
                <fieldset>
                    <select class="form-control" name="location" id="location"   required>
                        <option value="--select  location--">--select location--</option>
                        <option value="Zone A">Zone A</option>
                        <option value="Zone B">Zone B</option>
                        <option value="Zone C">Zone C</option>
                        <option value="Zone D">Zone D</option>
                    </select>
                </fieldset>
            </div>
            <button type="submit" class="btn btn-default">Add!</button>
        {{/if}}
    </form>

    </div>
{{/partial}}

{{> layout.hbs}}
